a:hover {
    color: #b3b3b3;

}

a {
    text-decoration:none;
    color: #000;
    /*transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;*/

    
}

a.active{
  color: #b3b3b3;
}

#portfolio li {
    text-align:center;
    text-decoration: none;
        padding-bottom:30px;
    list-style:none;
    width:70%;
    margin: 0 auto;
    text-justify:auto;
}


img {
    margin-top: 5vh;
    margin-bottom:5vh;
}

.bodywrapper a {
    animation: pulse 1.5s infinite;
}

div.navbar {
    position: fixed;
    width:100%;
    top: 0;
}

div.navbar ul {

    list-style-type: none;
    text-align: center;
    margin: 0;
    min-height:50px;
    padding: 10px 0 10px 0;
    overflow: hidden;
    /*border: 1px solid #e7e7e7;*/
    background-color: #f3f3f3;
    /*box-shadow: 2px 2px 9px #b3b3b3;*/
}

div.navbar li {
    float: none;
    display: inline-block;
}

div.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

div.navbar li a.active {
    color: white;
    background-color: #4CAF50;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding: 0;
    margin: 0 auto;
}

.bodywrapper {
    margin: 0 auto;
    max-width: 60%;
}

.webheader {
    min-height: 100vh;
    text-align:center;
}

.webheader p {
    padding:2vh;
}

li {
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size:25px;
        font-weight: lighter;
}

h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: lighter;
}

header {
  margin-top: 75px;
}

.img-circle {
      transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
    border-radius: 50%;
}


div.circlist img {
    float: none;
    margin: auto;
    border-radius: 50%;
    width: 70%;
    height:70%;
        border: 5px solid #f3f3f3;
        transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: linear;

}

.choice {
    text-align:center;
}

.choice h2 a{
    
}

.choice a:hover{
    -webkit-animation: none;
    animation: none;    
}

div.circlist img:hover{
    border: 5px solid #b3b3b3;

}

div.circlist {
    padding-left: 1%;

}
div.circlist li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 28%;
    padding-left:2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
}

footer {
    background: #f3f3f3;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    margin: 0 auto;

}

@media screen and (max-width:520px) {
    .bodywrapper {
        max-width:80%;
    }


    div.circlist li {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
        div.circlist {
        padding-left: 0%;
        width:80%;
        text-align:center;
        margin: 0 auto;
    }
    div.webheader img {
        width:70%;
    }
}

@media screen and (max-width:900px) and (min-width: 520px) {


    div.circlist li {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
        div.circlist {
        padding-left: 0%;
        width:65%;
        text-align:center;
        margin: 0 auto;
    }
    div.webheader img {
        width:60%;
    }

}


@keyframes pulse {
    0%,100%{
        color: #b3b3b3;
    }
    50% {
        color: #000000;
    }

}

